body {
    margin: 0;
    padding: 0;
    font-family: "roboto", "times new roman", sans-serif;
}
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    height: 500px;
    padding: 10px 70px;

}

.header_top {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
}

.header_links {
    display: flex;
    margin-left: auto;
    gap: 15px;
    color: #E5E7EB;
    font-size: 18px;
}

.header_content {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 30px;
}

.header_left{
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.header_right {
    background-color: slategray;
    margin-left: auto;
    padding: 80px;

}

h3 {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}

.header_left button {
    max-width: 75px;
    margin-top: 5px;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    color: #F9FAF8;
    padding: 3px 8px 3px 8px;
}

.block2 {
    height: 350px;
}
.block2 h3 {
    color: #1F2937;
    font-size: 36px;
    text-align: center;
    padding: 20px;
}

.information {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.images {
    max-width: 110px;
}

.cube {
    border-style: solid;
    border-color: #3882F6;
    height: 110px;
    border-radius: 12px;
}

.block3 {
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quote {
    max-width: 600px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.quote_author {
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-size: smaller;
}

.block4 {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 10px;
    padding: 0;
}

.block4content {
    display: flex;
    background-color: #3882F6;
    padding: 25px 70px;
    border-radius: 8px;
    gap: 70px;
}

.actiontext {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: #F9FAF8;
}

.block4 button{
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #F9FAF8;
    border-style: solid;
    color: #F9FAF8;
    padding: 3px 25px;
    max-height: 30px;

}
